<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emr.project.qc.mapper.QcRuleConValueMapper">

    <resultMap type="QcRuleConValue" id="QcRuleConValueResult">
        <result property="id"    column="id"    />
        <result property="ruleCode"    column="rule_code"    />
        <result property="ruleName"    column="rule_name"    />
        <result property="ruleType"    column="rule_type"    />
        <result property="emrTypeCode"    column="emr_type_code"    />
        <result property="emrTypeName"    column="emr_type_name"    />
        <result property="eleId"    column="ele_id"    />
        <result property="eleName"    column="ele_name"    />
        <result property="defeLevel"    column="defe_level"    />
        <result property="valuDictType"    column="valu_dict_type"    />
        <result property="valuDictName"    column="valu_dict_name"    />
        <result property="valuDictCon"    column="valu_dict_con"    />
        <result property="addMeth"    column="add_meth"    />
        <result property="ruleDesc"    column="rule_desc"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="expres"    column="expres"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="altPerName"    column="alt_per_name"    />
        <result property="altPerCode"    column="alt_per_code"    />
        <result property="altDate"    column="alt_date"    />
        <result property="crePerName"    column="cre_per_name"    />
        <result property="crePerCode"    column="cre_per_code"    />
        <result property="creDate"    column="cre_date"    />
        <result property="ruleFile"    column="rule_file"    />
    </resultMap>
    <resultMap id="QcRuleConValueVoResult" type="QcRuleConValueVo" extends="QcRuleConValueResult">
        <result property="defeLevelName"    column="defeLevelName"    />
    </resultMap>
    <sql id="selectQcRuleConValueVo">
        select id, rule_code, rule_name, rule_type, emr_type_code,rule_file, emr_type_name, ele_id, ele_name, defe_level, valu_dict_type, valu_dict_name, valu_dict_con, add_meth, rule_desc, valid_flag, expres, del_flag, alt_per_name, alt_per_code, alt_date, cre_per_name, cre_per_code, cre_date from qc_rule_con_value
    </sql>

    <select id="selectQcRuleConValueList" parameterType="QcRuleConValueVo" resultMap="QcRuleConValueVoResult">
        select DISTINCT qc.id, qc.rule_code, qc.rule_name, qc.rule_type, qc.emr_type_code, qc.emr_type_name, qc.defe_level, qc.valu_dict_type,qce.elem_id as ele_id,qce.elem_name as ele_name,
        qc.valu_dict_name, qc.valu_dict_con, qc.add_meth, qc.rule_desc,qc.rule_file, qc.valid_flag, qc.expres, qc.del_flag, qc.alt_per_name, qc.alt_per_code, qc.alt_date,
        qc.cre_per_name, qc.cre_per_code, qc.cre_date,sdd.data_tag AS defeLevelName
         from qc_rule_con_value qc
        LEFT JOIN qc_check_elem qce ON qc.id = qce.check_id
        LEFT JOIN TM_BS_DICT_DATA sdd ON qc.defe_level = sdd.data_val AND dict_type = 's052'
        <where>
            <if test="ruleCode != null  and ruleCode != ''"> and qc.rule_code = #{ruleCode}</if>
            <if test="ruleName != null  and ruleName != ''"> and qc.rule_name like concat(concat('%', #{ruleName}), '%')</if>
            <if test="ruleType != null  and ruleType != ''"> and qc.rule_type = #{ruleType}</if>
            <if test="emrTypeCode != null  and emrTypeCode != ''"> and qc.emr_type_code = #{emrTypeCode}</if>
            <if test="emrTypeName != null  and emrTypeName != ''"> and qc.emr_type_name like concat(concat('%', #{emrTypeName}), '%')</if>
            <if test="eleId != null  and eleId != ''"> and qc.ele_id = #{eleId}</if>
            <if test="eleName != null  and eleName != ''"> and qc.ele_name like concat(concat('%', #{eleName}), '%')</if>
            <if test="defeLevel != null  and defeLevel != ''"> and qc.defe_level = #{defeLevel}</if>
            <if test="valuDictType != null  and valuDictType != ''"> and qc.valu_dict_type = #{valuDictType}</if>
            <if test="valuDictName != null  and valuDictName != ''"> and qc.valu_dict_name like concat(concat('%', #{valuDictName}), '%')</if>
            <if test="valuDictCon != null  and valuDictCon != ''"> and qc.valu_dict_con = #{valuDictCon}</if>
            <if test="elemList != null ">
                and qce.elem_id in
                <foreach item="item" index="index" collection="elemList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="addMeth != null  and addMeth != ''"> and qc.add_meth = #{addMeth}</if>
            <if test="ruleDesc != null  and ruleDesc != ''"> and qc.rule_desc = #{ruleDesc}</if>
            <if test="validFlag != null  and validFlag != ''"> and qc.valid_flag = #{validFlag}</if>
            <if test="expres != null  and expres != ''"> and qc.expres = #{expres}</if>
            <if test="altPerName != null  and altPerName != ''"> and qc.alt_per_name like concat(concat('%', #{altPerName}), '%')</if>
            <if test="altPerCode != null  and altPerCode != ''"> and qc.alt_per_code = #{altPerCode}</if>
            <if test="altDate != null "> and qc.alt_date = #{altDate}</if>
            <if test="crePerName != null  and crePerName != ''"> and qc.cre_per_name like concat(concat('%', #{crePerName}), '%')</if>
            <if test="crePerCode != null  and crePerCode != ''"> and qc.cre_per_code = #{crePerCode}</if>
            <if test="creDate != null "> and qc.cre_date = #{creDate}</if>
            <if test="ruleFile != null "> and qc.rule_file = #{ruleFile}</if>
             and qc.del_flag='0' order by qc.cre_date desc
        </where>
    </select>

    <select id="selectQcRuleConValueById" parameterType="Long" resultMap="QcRuleConValueResult">
        <include refid="selectQcRuleConValueVo"/>
        where id = #{id}
    </select>

    <insert id="insertQcRuleConValue" parameterType="QcRuleConValue">
        insert into qc_rule_con_value
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="ruleCode != null">rule_code,</if>
            <if test="ruleName != null">rule_name,</if>
            <if test="ruleType != null">rule_type,</if>
            <if test="emrTypeCode != null">emr_type_code,</if>
            <if test="emrTypeName != null">emr_type_name,</if>
            <if test="eleId != null">ele_id,</if>
            <if test="eleName != null">ele_name,</if>
            <if test="defeLevel != null">defe_level,</if>
            <if test="valuDictType != null">valu_dict_type,</if>
            <if test="valuDictName != null">valu_dict_name,</if>
            <if test="valuDictCon != null">valu_dict_con,</if>
            <if test="addMeth != null">add_meth,</if>
            <if test="ruleDesc != null">rule_desc,</if>
            <if test="validFlag != null and validFlag != ''">valid_flag,</if>
            <if test="expres != null">expres,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="altPerName != null">alt_per_name,</if>
            <if test="altPerCode != null">alt_per_code,</if>
            <if test="altDate != null">alt_date,</if>
            <if test="crePerName != null">cre_per_name,</if>
            <if test="crePerCode != null">cre_per_code,</if>
            <if test="ruleFile != null">rule_file,</if>
            cre_date,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="ruleCode != null">#{ruleCode},</if>
            <if test="ruleName != null">#{ruleName},</if>
            <if test="ruleType != null">#{ruleType},</if>
            <if test="emrTypeCode != null">#{emrTypeCode},</if>
            <if test="emrTypeName != null">#{emrTypeName},</if>
            <if test="eleId != null">#{eleId},</if>
            <if test="eleName != null">#{eleName},</if>
            <if test="defeLevel != null">#{defeLevel},</if>
            <if test="valuDictType != null">#{valuDictType},</if>
            <if test="valuDictName != null">#{valuDictName},</if>
            <if test="valuDictCon != null">#{valuDictCon},</if>
            <if test="addMeth != null">#{addMeth},</if>
            <if test="ruleDesc != null">#{ruleDesc},</if>
            <if test="validFlag != null and validFlag != ''">#{validFlag},</if>
            <if test="expres != null">#{expres},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="altPerName != null">#{altPerName},</if>
            <if test="altPerCode != null">#{altPerCode},</if>
            <if test="altDate != null">#{altDate},</if>
            <if test="crePerName != null">#{crePerName},</if>
            <if test="crePerCode != null">#{crePerCode},</if>
            <if test="ruleFile != null">#{ruleFile},</if>
            sysdate,
         </trim>
    </insert>

    <update id="updateQcRuleConValue" parameterType="QcRuleConValue">
        update qc_rule_con_value
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleCode != null">rule_code = #{ruleCode},</if>
            <if test="ruleName != null">rule_name = #{ruleName},</if>
            <if test="ruleType != null">rule_type = #{ruleType},</if>
            <if test="emrTypeCode != null">emr_type_code = #{emrTypeCode},</if>
            <if test="emrTypeName != null">emr_type_name = #{emrTypeName},</if>
            <if test="eleId != null">ele_id = #{eleId},</if>
            <if test="eleName != null">ele_name = #{eleName},</if>
            <if test="defeLevel != null">defe_level = #{defeLevel},</if>
            <if test="valuDictType != null">valu_dict_type = #{valuDictType},</if>
            <if test="valuDictName != null">valu_dict_name = #{valuDictName},</if>
            <if test="valuDictCon != null">valu_dict_con = #{valuDictCon},</if>
            <if test="addMeth != null">add_meth = #{addMeth},</if>
            <if test="ruleDesc != null">rule_desc = #{ruleDesc},</if>
            <if test="validFlag != null and validFlag != ''">valid_flag = #{validFlag},</if>
            <if test="expres != null">expres = #{expres},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="altPerName != null">alt_per_name = #{altPerName},</if>
            <if test="altPerCode != null">alt_per_code = #{altPerCode},</if>
            <if test="altDate != null">alt_date = #{altDate},</if>
            <if test="crePerName != null">cre_per_name = #{crePerName},</if>
            <if test="crePerCode != null">cre_per_code = #{crePerCode},</if>
            <if test="creDate != null">cre_date = #{creDate},</if>
            <if test="ruleFile != null">rule_file = #{ruleFile},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQcRuleConValueById" parameterType="Long">
        delete from qc_rule_con_value where id = #{id}
    </delete>

    <delete id="deleteQcRuleConValueByIds" parameterType="String">
        delete from qc_rule_con_value where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
