<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emr.project.qc.mapper.QcScoreDedDetailMapper">

    <resultMap type="QcScoreDedDetail" id="QcScoreDedDetailResult">
        <result property="id"    column="id"    />
        <result property="orgCd"    column="org_cd"    />
        <result property="dedCd"    column="ded_cd"    />
        <result property="dedName"    column="ded_name"    />
        <result property="dedDesc"    column="ded_desc"    />
        <result property="itemCd"    column="item_cd"    />
        <result property="itemName"    column="item_name"    />
        <result property="dedType"    column="ded_type"    />
        <result property="dedScoreSingle"    column="ded_score_single"    />
        <result property="dedScoreMax"    column="ded_score_max"    />
        <result property="dedScoreDesc"    column="ded_score_desc"    />
        <result property="sort"    column="sort"    />
        <result property="validFlag"    column="valid_flag"    />
        <result property="crePerCode"    column="cre_per_code"    />
        <result property="crePerName"    column="cre_per_name"    />
        <result property="creDate"    column="cre_date"    />
        <result property="altPerCode"    column="alt_per_code"    />
        <result property="altPerName"    column="alt_per_name"    />
        <result property="altDate"    column="alt_date"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="itemTotalScore"    column="item_total_score"    />
        <result property="itemSort"    column="item_sort"    />
    </resultMap>
<resultMap id="QcScoreDedDetailVoResult" type="QcScoreDedDetailVo" extends="QcScoreDedDetailResult">
    <result property="itemClassCd"    column="item_class_cd"    />
    <result property="itemClassName"    column="item_class_name"    />
    <result property="itemDesc"    column="item_desc"    />
</resultMap>
    <sql id="selectQcScoreDedDetailVo">
        select id, org_cd, ded_cd, ded_name, ded_desc, item_cd, item_name, ded_type, ded_score_single, ded_score_max, ded_score_desc, sort, valid_flag, cre_per_code, cre_per_name, cre_date, alt_per_code, alt_per_name, alt_date,del_flag from qc_score_ded_detail
    </sql>

    <select id="selectQcScoreDedDetailList" parameterType="QcScoreDedDetailVo" resultMap="QcScoreDedDetailVoResult">
        select qsdd.id, qsdd.org_cd, qsdd.ded_cd, qsdd.ded_name, qsdd.ded_desc, qsdd.item_cd, qsdd.item_name, qsdd.ded_type,
         qsdd.ded_score_single, qsdd.ded_score_max,qsdd.ded_score_desc,qsdd.sort, qsdd.valid_flag, qsdd.cre_per_code,
         qsdd.cre_per_name, qsdd.cre_date,qsdd.alt_per_code, qsdd.alt_per_name, qsdd.alt_date,qsdd.del_flag,qsi.item_class_cd,
         qsi.item_class_name,qsi.item_desc from qc_score_ded_detail qsdd
         left join qc_score_item qsi on qsdd.item_cd=qsi.id
        left join TM_BS_DICT_DATA sdd on sdd.data_val=qsi.item_class_cd and sdd.dict_type='s058'
        <where>
            and qsdd.del_flag = '0'
            <if test="orgCd != null  and orgCd != ''"> and qsdd.org_cd = #{orgCd}</if>
            <if test="dedCd != null  and dedCd != ''"> and qsdd.ded_cd = #{dedCd}</if>
            <if test="dedName != null  and dedName != ''"> and qsdd.ded_name like concat(concat('%', #{dedName}), '%')</if>
            <if test="dedDesc != null  and dedDesc != ''"> and qsdd.ded_desc = #{dedDesc}</if>
            <if test="itemCd != null  and itemCd != ''"> and qsdd.item_cd = #{itemCd}</if>
            <if test="itemName != null  and itemName != ''"> and qsdd.item_name like concat(concat('%', #{itemName}), '%')</if>
            <if test="dedType != null  and dedType != ''"> and qsdd.ded_type = #{dedType}</if>
            <if test="dedScoreSingle != null "> and qsdd.ded_score_single = #{dedScoreSingle}</if>
            <if test="dedScoreMax != null "> and qsdd.ded_score_max = #{dedScoreMax}</if>
            <if test="dedScoreDesc != null  and dedScoreDesc != ''"> and qsdd.ded_score_desc = #{dedScoreDesc}</if>
            <if test="sort != null "> and qsdd.sort = #{sort}</if>
            <if test="validFlag != null  and validFlag != ''"> and qsdd.valid_flag = #{validFlag}</if>
            <if test="crePerCode != null  and crePerCode != ''"> and qsdd.cre_per_code = #{crePerCode}</if>
            <if test="crePerName != null  and crePerName != ''"> and qsdd.cre_per_name like concat(concat('%', #{crePerName}), '%')</if>
            <if test="creDate != null "> and qsdd.cre_date = #{creDate}</if>
            <if test="altPerCode != null  and altPerCode != ''"> and qsdd.alt_per_code = #{altPerCode}</if>
            <if test="altPerName != null  and altPerName != ''"> and qsdd.alt_per_name like concat(concat('%', #{altPerName}), '%')</if>
            <if test="altDate != null "> and qsdd.alt_date = #{altDate}</if>
            <if test="delFlag != null and delFlag != ''"> and qsdd.del_flag = #{delFlag}</if>
            <if test="itemList != null and itemList.size()>0">
                and qsdd.item_cd in
                <foreach item="item" collection="itemList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by sdd.data_sort,qsi.sort,qsdd.sort
    </select>

    <select id="selectUnScheDedList" parameterType="QcScoreDedDetail" resultMap="QcScoreDedDetailResult">
        select qsd.id, qsd.org_cd, qsd.ded_cd, qsd.ded_name, qsd.ded_desc, qsd.item_cd, qsd.item_name, qsd.ded_type,
         qsd.ded_score_single, qsd.ded_score_max, qsd.ded_score_desc, qsd.sort, qsd.valid_flag, qsd.cre_per_code,
          qsd.cre_per_name, qsd.cre_date, qsd.alt_per_code, qsd.alt_per_name, qsd.alt_date,qsd.del_flag
         from qc_score_ded_detail qsd
        left join qc_score_sche_ded qss on qsd.id = qss.ded_id and qss.sche_id=#{scheId}
        where qsd.del_flag='0' and qss.id is null
        <if test="dedDesc !=null and dedDesc!=''">
              and qsd.ded_desc like concat(concat('%', #{dedDesc}), '%')
        </if>
         <if test="itemCd !=null and itemCd!=''">
              and qsd.item_cd=#{itemCd}
        </if>
    </select>
    <select id="selectScheDedList" parameterType="QcScoreDedDetailVo" resultMap="QcScoreDedDetailResult">
        select qsd.id, qsd.org_cd, qsd.ded_cd, qsd.ded_name, qsd.ded_desc, qss.item_id as item_cd, qss.item_name, qsd.ded_type,
        qsd.ded_score_single, qsd.ded_score_max, qsd.ded_score_desc, qsd.sort, qsd.valid_flag, qsd.cre_per_code,
        qsd.cre_per_name, qsd.cre_date, qsd.alt_per_code, qsd.alt_per_name, qsd.alt_date,qsd.del_flag,qss.item_total_score,qss.item_sort
        from qc_score_ded_detail qsd
        left join qc_score_sche_ded qss on qsd.id = qss.ded_id
        where qsd.del_flag='0'
        <if test="scheId !=null and scheId!=''">
            and qss.sche_id=#{scheId}
        </if>
        <if test="itemId !=null">
            and qss.item_Id=#{itemId}
        </if>
    </select>
    <select id="selectQcScoreDedDetailById" parameterType="Long" resultMap="QcScoreDedDetailResult">
        <include refid="selectQcScoreDedDetailVo"/>
        where id = #{id}
    </select>

    <select id="selectDedDetailList" parameterType="QcScoreDedDetail" resultMap="QcScoreDedDetailResult">
        <include refid="selectQcScoreDedDetailVo"/>
        <where>
            <if test="id != null  and id != ''"> and id = #{id}</if>
            <if test="orgCd != null  and orgCd != ''"> and org_cd = #{orgCd}</if>
            <if test="dedCd != null  and dedCd != ''"> and ded_cd = #{dedCd}</if>
            <if test="dedName != null  and dedName != ''"> and ded_name like concat(concat('%', #{dedName}), '%')</if>
            <if test="dedDesc != null  and dedDesc != ''"> and ded_desc = #{dedDesc}</if>
            <if test="itemCd != null  and itemCd != ''"> and item_cd = #{itemCd}</if>
            <if test="itemName != null  and itemName != ''"> and item_name like concat(concat('%', #{itemName}), '%')</if>
            <if test="dedType != null  and dedType != ''"> and ded_type = #{dedType}</if>
            <if test="dedScoreSingle != null "> and ded_score_single = #{dedScoreSingle}</if>
            <if test="dedScoreMax != null "> and ded_score_max = #{dedScoreMax}</if>
            <if test="dedScoreDesc != null  and dedScoreDesc != ''"> and ded_score_desc = #{dedScoreDesc}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="validFlag != null  and validFlag != ''"> and valid_flag = #{validFlag}</if>
            <if test="crePerCode != null  and crePerCode != ''"> and cre_per_code = #{crePerCode}</if>
            <if test="crePerName != null  and crePerName != ''"> and cre_per_name like concat(concat('%', #{crePerName}), '%')</if>
            <if test="creDate != null "> and cre_date = #{creDate}</if>
            <if test="altPerCode != null  and altPerCode != ''"> and alt_per_code = #{altPerCode}</if>
            <if test="altPerName != null  and altPerName != ''"> and alt_per_name like concat(concat('%', #{altPerName}), '%')</if>
            <if test="altDate != null "> and alt_date = #{altDate}</if>
            <if test="delFlag != null and delFlag != ''"> and del_flag = #{delFlag}</if>
        </where>
    </select>

    <insert id="insertQcScoreDedDetail" parameterType="QcScoreDedDetail">
        insert into qc_score_ded_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orgCd != null">org_cd,</if>
            <if test="dedCd != null and dedCd != ''">ded_cd,</if>
            <if test="dedName != null and dedName != ''">ded_name,</if>
            <if test="dedDesc != null">ded_desc,</if>
            <if test="itemCd != null">item_cd,</if>
            <if test="itemName != null">item_name,</if>
            <if test="dedType != null">ded_type,</if>
            <if test="dedScoreSingle != null">ded_score_single,</if>
            <if test="dedScoreMax != null">ded_score_max,</if>
            <if test="dedScoreDesc != null">ded_score_desc,</if>
            <if test="sort != null">sort,</if>
            <if test="validFlag != null and validFlag != ''">valid_flag,</if>
            <if test="crePerCode != null and crePerCode != ''">cre_per_code,</if>
            <if test="crePerName != null and crePerName != ''">cre_per_name,</if>
            cre_date,
            <if test="delFlag != null and delFlag != ''">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orgCd != null">#{orgCd},</if>
            <if test="dedCd != null and dedCd != ''">#{dedCd},</if>
            <if test="dedName != null and dedName != ''">#{dedName},</if>
            <if test="dedDesc != null">#{dedDesc},</if>
            <if test="itemCd != null">#{itemCd},</if>
            <if test="itemName != null">#{itemName},</if>
            <if test="dedType != null">#{dedType},</if>
            <if test="dedScoreSingle != null">#{dedScoreSingle},</if>
            <if test="dedScoreMax != null">#{dedScoreMax},</if>
            <if test="dedScoreDesc != null">#{dedScoreDesc},</if>
            <if test="sort != null">#{sort},</if>
            <if test="validFlag != null and validFlag != ''">#{validFlag},</if>
            <if test="crePerCode != null and crePerCode != ''">#{crePerCode},</if>
            <if test="crePerName != null and crePerName != ''">#{crePerName},</if>
            sysdate,
            <if test="delFlag != null and delFlag != ''">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateQcScoreDedDetail" parameterType="QcScoreDedDetail">
        update qc_score_ded_detail
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgCd != null">org_cd = #{orgCd},</if>
            <if test="dedCd != null and dedCd != ''">ded_cd = #{dedCd},</if>
            <if test="dedName != null and dedName != ''">ded_name = #{dedName},</if>
            <if test="dedDesc != null">ded_desc = #{dedDesc},</if>
            <if test="itemCd != null">item_cd = #{itemCd},</if>
            <if test="itemName != null">item_name = #{itemName},</if>
            <if test="dedType != null">ded_type = #{dedType},</if>
            <if test="dedScoreSingle != null">ded_score_single = #{dedScoreSingle},</if>
            <if test="dedScoreMax != null">ded_score_max = #{dedScoreMax},</if>
            <if test="dedScoreDesc != null">ded_score_desc = #{dedScoreDesc},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="validFlag != null and validFlag != ''">valid_flag = #{validFlag},</if>
            <if test="altPerCode != null">alt_per_code = #{altPerCode},</if>
            <if test="altPerName != null">alt_per_name = #{altPerName},</if>
            alt_date = sysdate,
            <if test="delFlag != null and delFlag != ''">del_flag=#{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteQcScoreDedDetailById" parameterType="Long">
        delete from qc_score_ded_detail where id = #{id}
    </delete>

    <delete id="deleteQcScoreDedDetailByIds" parameterType="String">
        delete from qc_score_ded_detail where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <update id="changeDelFlag" parameterType="Long">
        update qc_score_ded_detail set del_flag = 1 where id =#{id}
    </update>
    <select id="selectDedListGroupByItem" parameterType="QcScoreDedDetailVo" resultMap="QcScoreDedDetailVoResult">
        select ITEM_CD from qc_score_ded_detail where del_flag='0'
            <if test="itemCd != null  and itemCd != ''"> and item_cd = #{itemCd}</if>
            <if test="dedScoreDesc != null  and dedScoreDesc != ''"> and ded_score_desc = #{dedScoreDesc}</if>
            <if test="validFlag != null  and validFlag != ''"> and valid_flag = #{validFlag}</if>
        group by ITEM_CD
    </select>
</mapper>
