<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emr.project.dr.mapper.DrAntiApplyMapper">

    <resultMap type="DrAntiApply" id="DrAntiApplyResult">
        <result property="id"    column="id"    />
        <result property="orgCd"    column="org_cd"    />
        <result property="patientId"    column="patient_id"    />
        <result property="patientName"    column="patient_name"    />
        <result property="recordNo"    column="record_no"    />
        <result property="sexCd"    column="sex_cd"    />
        <result property="sexName"    column="sex_name"    />
        <result property="age"    column="age"    />
        <result property="clinDiag"    column="clin_diag"    />
        <result property="drugCode"    column="drug_code"    />
        <result property="drugName"    column="drug_name"    />
        <result property="drugSpec"    column="drug_spec"    />
        <result property="drugGradeCode"    column="drug_grade_code"    />
        <result property="drugGradeName"    column="drug_grade_name"    />
        <result property="applyAmount"    column="apply_amount"    />
        <result property="unit"    column="unit"    />
        <result property="purposeAntimicrobialUse"    column="purpose_antimicrobial_use"    />
        <result property="applyComm"    column="apply_comm"    />
        <result property="applyDocCode"    column="apply_doc_code"    />
        <result property="applyDocName"    column="apply_doc_name"    />
        <result property="applyTitleCode"    column="apply_title_code"    />
        <result property="applyTitleName"    column="apply_title_name"    />
        <result property="deptCode"    column="dept_code"    />
        <result property="deptName"    column="dept_name"    />
        <result property="applyDate"    column="apply_date"    />
        <result property="state"    column="state"    />
        <result property="useFlag"    column="use_flag"    />
        <result property="orderNo"    column="order_no"    />
        <result property="apprDocCode"    column="appr_doc_code"    />
        <result property="apprDocName"    column="appr_doc_name"    />
        <result property="apprDocDate"    column="appr_doc_date"    />
        <result property="apprTitleCode"    column="appr_title_code"    />
        <result property="apprTitleName"    column="appr_title_name"    />
        <result property="apprComm"    column="appr_comm"    />
        <result property="altDate"    column="alt_date"    />
        <result property="altPerCode"    column="alt_per_code"    />
        <result property="altPerName"    column="alt_per_name"    />
        <result property="crePerCode"    column="cre_per_code"    />
        <result property="crePerName"    column="cre_per_name"    />
        <result property="creDate"    column="cre_date"    />
        <result property="inpNo"    column="inp_no"    />
        <result property="inputstrphtc"    column="inputstrphtc"    />
        <result property="bedNo"    column="bed_no"    />
    </resultMap>
<resultMap id="DrAntiApplyVoResult" type="DrAntiApplyVo" extends="DrAntiApplyResult">
    <result property="useEnabled"    column="use_enabled"    />
    <result property="applyFlag"    column="apply_flag"    />
    <result property="drugDose"    column="drugDose"    />
    <result property="drugClassCode"    column="drug_class_code"    />
    <result property="drugClassName"    column="drug_class_name"    />
    <result property="purposeAntimicrobialUseName"    column="purposeAntimicrobialUseName"    />
</resultMap>
    <sql id="selectDrAntiApplyVo">
        select id, org_cd, patient_id, patient_name, record_no, sex_cd, sex_name, age, clin_diag, drug_code,
               drug_name, drug_spec, drug_grade_code, drug_grade_name, apply_amount, unit, purpose_antimicrobial_use,
               apply_comm, apply_doc_code, apply_doc_name, apply_title_code, apply_title_name, dept_code, dept_name,
               apply_date, state, use_flag, order_no, appr_doc_code, appr_doc_name, appr_doc_date, appr_title_code,
               appr_title_name, appr_comm, alt_date, alt_per_code, alt_per_name, cre_per_code, cre_per_name, cre_date,inp_no,inputstrphtc,bed_no from dr_anti_apply
    </sql>

    <select id="selectDrAntiApplyList" parameterType="DrAntiApplyVo" resultMap="DrAntiApplyVoResult">
        select daa.*,sdd.data_tag as purposeAntimicrobialUseName from dr_anti_apply daa left join TM_BS_DICT_DATA sdd on daa.purpose_antimicrobial_use=sdd.data_val and sdd.dict_type='s063'
        <where>
            <if test="orgCd != null  and orgCd != ''"> and daa.org_cd = #{orgCd}</if>
            <if test="patientId != null  and patientId != ''"> and daa.patient_id = #{patientId}</if>
            <if test="patientName != null  and patientName != ''"> and daa.patient_name like concat(concat('%', #{patientName}), '%')</if>
            <if test="recordNo != null  and recordNo != ''"> and daa.record_no = #{recordNo}</if>
            <if test="sexCd != null  and sexCd != ''"> and daa.sex_cd = #{sexCd}</if>
            <if test="sexName != null  and sexName != ''"> and daa.sex_name like concat(concat('%', #{sexName}), '%')</if>
            <if test="age != null  and age != ''"> and daa.age = #{age}</if>
            <if test="clinDiag != null  and clinDiag != ''"> and daa.clin_diag = #{clinDiag}</if>
            <if test="drugCode != null  and drugCode != ''"> and daa.drug_code = #{drugCode}</if>
            <if test="drugName != null  and drugName != ''"> and (daa.drug_name like concat(concat('%', #{drugName}), '%') or daa.inputstrphtc like concat(concat('%', #{drugName}), '%'))</if>
            <if test="drugSpec != null  and drugSpec != ''"> and daa.drug_spec = #{drugSpec}</if>
            <if test="drugGradeCode != null  and drugGradeCode != ''"> and daa.drug_grade_code = #{drugGradeCode}</if>
            <if test="drugGradeName != null  and drugGradeName != ''"> and daa.drug_grade_name like concat(concat('%', #{drugGradeName}), '%')</if>
            <if test="applyAmount != null "> and daa.apply_amount = #{applyAmount}</if>
            <if test="unit != null  and unit != ''"> and daa.unit = #{unit}</if>
            <if test="purposeAntimicrobialUse != null  and purposeAntimicrobialUse != ''"> and daa.purpose_antimicrobial_use = #{purposeAntimicrobialUse}</if>
            <if test="applyComm != null  and applyComm != ''"> and daa.apply_comm = #{applyComm}</if>
            <if test="applyDocCode != null  and applyDocCode != ''"> and daa.apply_doc_code = #{applyDocCode}</if>
            <if test="applyDocName != null  and applyDocName != ''"> and daa.apply_doc_name like concat(concat('%', #{applyDocName}), '%')</if>
            <if test="applyTitleCode != null  and applyTitleCode != ''"> and daa.apply_title_code = #{applyTitleCode}</if>
            <if test="applyTitleName != null  and applyTitleName != ''"> and daa.apply_title_name like concat(concat('%', #{applyTitleName}), '%')</if>
            <if test="deptCode != null  and deptCode != ''"> and daa.dept_code = #{deptCode}</if>
            <if test="deptName != null  and deptName != ''"> and daa.dept_name like concat(concat('%', #{deptName}), '%')</if>
            <if test="state != null  and state != ''"> and daa.state = #{state}</if>
            <if test="useFlag != null  and useFlag != ''"> and daa.use_flag = #{useFlag}</if>
            <if test="orderNo != null  and orderNo != ''"> and daa.order_no = #{orderNo}</if>
            <if test="apprDocCode != null  and apprDocCode != ''"> and daa.appr_doc_code = #{apprDocCode}</if>
            <if test="apprDocName != null  and apprDocName != ''"> and daa.appr_doc_name like concat(concat('%', #{apprDocName}), '%')</if>
            <if test="apprDocDate != null  "> and daa.appr_doc_date = #{apprDocDate}</if>
            <if test="apprTitleCode != null  and apprTitleCode != ''"> and daa.appr_title_code = #{apprTitleCode}</if>
            <if test="apprTitleName != null  and apprTitleName != ''"> and daa.appr_title_name like concat(concat('%', #{apprTitleName}), '%')</if>
            <if test="apprComm != null  and apprComm != ''"> and daa.appr_comm = #{apprComm}</if>
            <if test="altDate != null "> and daa.alt_date = #{altDate}</if>
            <if test="altPerCode != null  and altPerCode != ''"> and daa.alt_per_code = #{altPerCode}</if>
            <if test="inputstrphtc != null  and inputstrphtc != ''"> and daa.inputstrphtc like concat(concat('%', #{inputstrphtc}), '%')</if>
            <if test="inpNo != null  and inpNo != ''"> and daa.inp_no like concat(concat('%', #{inpNo}), '%')</if>
            <if test="altPerName != null  and altPerName != ''"> and daa.alt_per_name like concat(concat('%', #{altPerName}), '%')</if>
            <if test="crePerCode != null  and crePerCode != ''"> and daa.cre_per_code = #{crePerCode}</if>
            <if test="crePerName != null  and crePerName != ''"> and daa.cre_per_name like concat(concat('%', #{crePerName}), '%')</if>
            <if test="creDate != null "> and daa.cre_date = #{creDate}</if>
            <if test="auditBeginTime != null and auditEndTime!=null"> and daa.appr_doc_date between #{auditBeginTime} and #{auditEndTime}</if>
             <if test="stateList!=null">
                 and daa.state in
                 <foreach collection="stateList" item="state" open="(" separator="," close=")">
                     #{state}
                 </foreach>
             </if>
             <if test="dateStr != null">
                 and daa.apply_date &gt;= #{dateStr}
             </if>
             <if test="dateEnd != null">
                 and daa.apply_date &lt; #{dateEnd}
             </if>
        </where>
        order by daa.apply_date desc
    </select>

    <select id="selectDrAntiApplyById" parameterType="Long" resultMap="DrAntiApplyResult">
        <include refid="selectDrAntiApplyVo"/>
        where id = #{id}
    </select>

    <insert id="insertDrAntiApply" parameterType="DrAntiApply">
        insert into dr_anti_apply
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="orgCd != null">org_cd,</if>
            <if test="patientId != null">patient_id,</if>
            <if test="patientName != null">patient_name,</if>
            <if test="recordNo != null">record_no,</if>
            <if test="sexCd != null">sex_cd,</if>
            <if test="sexName != null">sex_name,</if>
            <if test="age != null">age,</if>
            <if test="clinDiag != null">clin_diag,</if>
            <if test="drugCode != null">drug_code,</if>
            <if test="drugName != null">drug_name,</if>
            <if test="drugSpec != null">drug_spec,</if>
            <if test="drugGradeCode != null">drug_grade_code,</if>
            <if test="drugGradeName != null">drug_grade_name,</if>
            <if test="applyAmount != null">apply_amount,</if>
            <if test="unit != null">unit,</if>
            <if test="purposeAntimicrobialUse != null">purpose_antimicrobial_use,</if>
            <if test="applyComm != null">apply_comm,</if>
            <if test="applyDocCode != null">apply_doc_code,</if>
            <if test="applyDocName != null">apply_doc_name,</if>
            <if test="applyTitleCode != null">apply_title_code,</if>
            <if test="applyTitleName != null">apply_title_name,</if>
            <if test="deptCode != null">dept_code,</if>
            <if test="deptName != null">dept_name,</if>
            apply_date,
            <if test="state != null">state,</if>
            <if test="useFlag != null">use_flag,</if>
            <if test="orderNo != null">order_no,</if>
            <if test="apprDocCode != null">appr_doc_code,</if>
            <if test="apprDocName != null">appr_doc_name,</if>
            <if test="apprDocDate != null">appr_doc_date,</if>
            <if test="apprTitleCode != null">appr_title_code,</if>
            <if test="apprTitleName != null">appr_title_name,</if>
            <if test="apprComm != null">appr_comm,</if>
            <if test="altDate != null">alt_date,</if>
            <if test="altPerCode != null">alt_per_code,</if>
            <if test="altPerName != null">alt_per_name,</if>
            <if test="crePerCode != null">cre_per_code,</if>
            <if test="crePerName != null">cre_per_name,</if>
            cre_date,
            <if test="inputstrphtc != null and inputstrphtc!=''">inputstrphtc,</if>
            <if test="inpNo != null and inpNo!=''" >inp_no,</if>
            <if test="bedNo != null">bed_no,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="orgCd != null">#{orgCd},</if>
            <if test="patientId != null">#{patientId},</if>
            <if test="patientName != null">#{patientName},</if>
            <if test="recordNo != null">#{recordNo},</if>
            <if test="sexCd != null">#{sexCd},</if>
            <if test="sexName != null">#{sexName},</if>
            <if test="age != null">#{age},</if>
            <if test="clinDiag != null">#{clinDiag},</if>
            <if test="drugCode != null">#{drugCode},</if>
            <if test="drugName != null">#{drugName},</if>
            <if test="drugSpec != null">#{drugSpec},</if>
            <if test="drugGradeCode != null">#{drugGradeCode},</if>
            <if test="drugGradeName != null">#{drugGradeName},</if>
            <if test="applyAmount != null">#{applyAmount},</if>
            <if test="unit != null">#{unit},</if>
            <if test="purposeAntimicrobialUse != null">#{purposeAntimicrobialUse},</if>
            <if test="applyComm != null">#{applyComm},</if>
            <if test="applyDocCode != null">#{applyDocCode},</if>
            <if test="applyDocName != null">#{applyDocName},</if>
            <if test="applyTitleCode != null">#{applyTitleCode},</if>
            <if test="applyTitleName != null">#{applyTitleName},</if>
            <if test="deptCode != null">#{deptCode},</if>
            <if test="deptName != null">#{deptName},</if>
            sysdate,
            <if test="state != null">#{state},</if>
            <if test="useFlag != null">#{useFlag},</if>
            <if test="orderNo != null">#{orderNo},</if>
            <if test="apprDocCode != null">#{apprDocCode},</if>
            <if test="apprDocName != null">#{apprDocName},</if>
            <if test="apprDocDate != null">#{apprDocDate},</if>
            <if test="apprTitleCode != null">#{apprTitleCode},</if>
            <if test="apprTitleName != null">#{apprTitleName},</if>
            <if test="apprComm != null">#{apprComm},</if>
            <if test="altDate != null">#{altDate},</if>
            <if test="altPerCode != null">#{altPerCode},</if>
            <if test="altPerName != null">#{altPerName},</if>
            <if test="crePerCode != null">#{crePerCode},</if>
            <if test="crePerName != null">#{crePerName},</if>
            sysdate,
            <if test="inputstrphtc != null and inputstrphtc!=''">#{inputstrphtc},</if>
            <if test="inpNo != null and inpNo!=''" >#{inpNo},</if>
            <if test="bedNo != null and bedNo!=''" >#{bedNo},</if>
         </trim>
    </insert>

    <update id="updateDrAntiApply" parameterType="DrAntiApply">
        update dr_anti_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgCd != null">org_cd = #{orgCd},</if>
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="recordNo != null">record_no = #{recordNo},</if>
            <if test="sexCd != null">sex_cd = #{sexCd},</if>
            <if test="sexName != null">sex_name = #{sexName},</if>
            <if test="age != null">age = #{age},</if>
            <if test="clinDiag != null">clin_diag = #{clinDiag},</if>
            <if test="drugCode != null">drug_code = #{drugCode},</if>
            <if test="drugName != null">drug_name = #{drugName},</if>
            <if test="drugSpec != null">drug_spec = #{drugSpec},</if>
            <if test="drugGradeCode != null">drug_grade_code = #{drugGradeCode},</if>
            <if test="drugGradeName != null">drug_grade_name = #{drugGradeName},</if>
            <if test="applyAmount != null">apply_amount = #{applyAmount},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="purposeAntimicrobialUse != null">purpose_antimicrobial_use = #{purposeAntimicrobialUse},</if>
            <if test="applyComm != null">apply_comm = #{applyComm},</if>
            <if test="applyDocCode != null">apply_doc_code = #{applyDocCode},</if>
            <if test="applyDocName != null">apply_doc_name = #{applyDocName},</if>
            <if test="applyTitleCode != null">apply_title_code = #{applyTitleCode},</if>
            <if test="applyTitleName != null">apply_title_name = #{applyTitleName},</if>
            <if test="deptCode != null">dept_code = #{deptCode},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="applyDate != null">apply_date = #{applyDate},</if>
            <if test="state != null">state = #{state},</if>
            <if test="useFlag != null">use_flag = #{useFlag},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="apprDocCode != null">appr_doc_code = #{apprDocCode},</if>
            <if test="apprDocName != null">appr_doc_name = #{apprDocName},</if>
            <if test="apprDocDate != null">appr_doc_date = #{apprDocDate},</if>
            <if test="apprTitleCode != null">appr_title_code = #{apprTitleCode},</if>
            <if test="apprTitleName != null">appr_title_name = #{apprTitleName},</if>
            <if test="apprComm != null">appr_comm = #{apprComm},</if>
            alt_date = sysdate,
            <if test="altPerCode != null">alt_per_code = #{altPerCode},</if>
            <if test="altPerName != null">alt_per_name = #{altPerName},</if>
            <if test="crePerCode != null">cre_per_code = #{crePerCode},</if>
            <if test="crePerName != null">cre_per_name = #{crePerName},</if>
            <if test="creDate != null">cre_date = #{creDate},</if>
            <if test="inputstrphtc != null and inputstrphtc!=''">inputstrphtc = #{inputstrphtc},</if>
            <if test="inpNo != null and inpNo!=''">inp_no = #{inpNo},</if>
            <if test="bedNo != null and bedNo!=''">bed_no = #{bedNo},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDrAntiApplyById" parameterType="Long">
        delete from dr_anti_apply where id = #{id}
    </delete>

    <delete id="deleteDrAntiApplyByIds" parameterType="String">
        delete from dr_anti_apply where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <select id="selectSqlStrList" parameterType="com.emr.project.dr.domain.vo.DrAntiApplyVo" resultMap="DrAntiApplyVoResult">
        select * from tm_pa_drugdict dd
        where dd.drug_anti != '00'



        ${sqlStr}
        <if test="drugCodeList != null and drugCodeList.size > 0">
            and yy_kjyw_wh.ypbm in
            <foreach collection="drugCodeList" item="drugCode" open="(" separator="," close=")">
                #{drugCode}
            </foreach>
        </if>
    </select>
    <update id="updateAuditState" parameterType="DrAntiApplyVo">
        update dr_anti_apply
        <trim prefix="SET" suffixOverrides=",">
            <if test="orgCd != null">org_cd = #{orgCd},</if>
            <if test="patientId != null">patient_id = #{patientId},</if>
            <if test="patientName != null">patient_name = #{patientName},</if>
            <if test="recordNo != null">record_no = #{recordNo},</if>
            <if test="sexCd != null">sex_cd = #{sexCd},</if>
            <if test="sexName != null">sex_name = #{sexName},</if>
            <if test="age != null">age = #{age},</if>
            <if test="clinDiag != null">clin_diag = #{clinDiag},</if>
            <if test="drugCode != null">drug_code = #{drugCode},</if>
            <if test="drugName != null">drug_name = #{drugName},</if>
            <if test="drugSpec != null">drug_spec = #{drugSpec},</if>
            <if test="drugGradeCode != null">drug_grade_code = #{drugGradeCode},</if>
            <if test="drugGradeName != null">drug_grade_name = #{drugGradeName},</if>
            <if test="applyAmount != null">apply_amount = #{applyAmount},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="purposeAntimicrobialUse != null">purpose_antimicrobial_use = #{purposeAntimicrobialUse},</if>
            <if test="applyComm != null">apply_comm = #{applyComm},</if>
            <if test="applyDocCode != null">apply_doc_code = #{applyDocCode},</if>
            <if test="applyDocName != null">apply_doc_name = #{applyDocName},</if>
            <if test="applyTitleCode != null">apply_title_code = #{applyTitleCode},</if>
            <if test="applyTitleName != null">apply_title_name = #{applyTitleName},</if>
            <if test="deptCode != null">dept_code = #{deptCode},</if>
            <if test="deptName != null">dept_name = #{deptName},</if>
            <if test="applyDate != null">apply_date = #{applyDate},</if>
            <if test="state != null">state = #{state},</if>
            <if test="useFlag != null">use_flag = #{useFlag},</if>
            <if test="orderNo != null">order_no = #{orderNo},</if>
            <if test="apprDocCode != null">appr_doc_code = #{apprDocCode},</if>
            <if test="apprDocName != null">appr_doc_name = #{apprDocName},</if>
            <if test="apprDocDate != null">appr_doc_date = #{apprDocDate},</if>
            <if test="apprTitleCode != null">appr_title_code = #{apprTitleCode},</if>
            <if test="apprTitleName != null">appr_title_name = #{apprTitleName},</if>
            <if test="apprComm != null">appr_comm = #{apprComm},</if>
            alt_date = sysdate,
            <if test="altPerCode != null">alt_per_code = #{altPerCode},</if>
            <if test="altPerName != null">alt_per_name = #{altPerName},</if>
            <if test="crePerCode != null">cre_per_code = #{crePerCode},</if>
            <if test="crePerName != null">cre_per_name = #{crePerName},</if>
            <if test="creDate != null">cre_date = #{creDate},</if>
            <if test="inputstrphtc != null and inputstrphtc!=''">inputstrphtc = #{inputstrphtc},</if>
            <if test="inpNo != null and inpNo!=''">inp_no = #{inpNo},</if>
            <if test="bedNo != null and bedNo!=''">bed_no = #{bedNo},</if>
        </trim>
        where id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>
    <select id="selectByPatientAndDrugCode" parameterType="DrAntiApply" resultMap="DrAntiApplyResult">
        <include refid="selectDrAntiApplyVo"/>
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="orgCd != null">and org_cd = #{orgCd}</if>
            <if test="patientId != null">and patient_id = #{patientId}</if>
            <if test="patientName != null">and patient_name = #{patientName}</if>
            <if test="recordNo != null">and record_no = #{recordNo}</if>
            <if test="sexCd != null">and sex_cd = #{sexCd}</if>
            <if test="sexName != null">and sex_name = #{sexName}</if>
            <if test="age != null">and age = #{age}</if>
            <if test="clinDiag != null">and clin_diag = #{clinDiag}</if>
            <if test="drugCode != null">and drug_code = #{drugCode}</if>
            <if test="drugName != null">and drug_name = #{drugName}</if>
            <if test="drugSpec != null">and drug_spec = #{drugSpec}</if>
            <if test="drugGradeCode != null">and drug_grade_code = #{drugGradeCode}</if>
            <if test="drugGradeName != null">and drug_grade_name = #{drugGradeName}</if>
            <if test="applyAmount != null">and apply_amount = #{applyAmount}</if>
            <if test="unit != null">and unit = #{unit}</if>
            <if test="purposeAntimicrobialUse != null">and purpose_antimicrobial_use = #{purposeAntimicrobialUse}</if>
            <if test="applyComm != null">and apply_comm = #{applyComm}</if>
            <if test="applyDocCode != null">and apply_doc_code = #{applyDocCode}</if>
            <if test="applyDocName != null">and apply_doc_name = #{applyDocName}</if>
            <if test="applyTitleCode != null">and apply_title_code = #{applyTitleCode}</if>
            <if test="applyTitleName != null">and apply_title_name = #{applyTitleName}</if>
            <if test="deptCode != null">and dept_code = #{deptCode}</if>
            <if test="deptName != null">and dept_name = #{deptName}</if>
            <if test="state != null">and state = #{state}</if>
            <if test="useFlag != null">and use_flag = #{useFlag}</if>
            <if test="orderNo != null">and order_no = #{orderNo}</if>
            <if test="apprDocCode != null">and appr_doc_code = #{apprDocCode}</if>
            <if test="apprDocName != null">and appr_doc_name = #{apprDocName}</if>
            <if test="apprDocDate != null">and appr_doc_date = #{apprDocDate}</if>
            <if test="apprTitleCode != null">and appr_title_code = #{apprTitleCode}</if>
            <if test="apprTitleName != null">and appr_title_name = #{apprTitleName}</if>
            <if test="apprComm != null">and appr_comm = #{apprComm}</if>
            <if test="inputstrphtc != null and inputstrphtc!=''">and inputstrphtc = #{inputstrphtc}</if>
            <if test="inpNo != null and inpNo!=''" >and inp_no = #{inpNo}</if>
            <if test="bedNo != null">and bed_no = #{bedNo}</if>
        </where>
    </select>
    <select id="selectByPatientAndDrugCodes" parameterType="String" resultMap="DrAntiApplyResult">
        <include refid="selectDrAntiApplyVo"/>
        <where>
            <if test="patientId != null">and patient_id = #{patientId}</if>
            <if test="drugCodeList != null and drugCodeList.size > 0">
                and drug_code in
                <foreach collection="drugCodeList" item="drugCode" open="(" separator="," close=")">
                    #{drugCode}
                </foreach>
            </if>
        </where>
    </select>
</mapper>
