<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emr.project.docOrder.mapper.InpatientOrderPerformDetailMapper">
  <resultMap id="BaseResultMap" type="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    <result column="perform_list_no" jdbcType="VARCHAR" property="performListNo" />
    <result column="perform_list_sort_number" jdbcType="VARCHAR" property="performListSortNumber" />
    <result column="order_sort_number" jdbcType="VARCHAR" property="orderSortNumber" />
    <result column="order_group_no" jdbcType="VARCHAR" property="orderGroupNo" />
    <result column="order_group_sort_number" jdbcType="VARCHAR" property="orderGroupSortNumber" />
    <result column="charge_no" jdbcType="VARCHAR" property="chargeNo" />
    <result column="charge_name" jdbcType="VARCHAR" property="chargeName" />
    <result column="standard_code" jdbcType="VARCHAR" property="standardCode" />
    <result column="standard_name" jdbcType="VARCHAR" property="standardName" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="order_actual_usage" jdbcType="DOUBLE" property="orderActualUsage" />
    <result column="usage_unit" jdbcType="VARCHAR" property="usageUnit" />
    <result column="order_dose" jdbcType="DOUBLE" property="orderDose" />
    <result column="order_total_dose" jdbcType="DOUBLE" property="orderTotalDose" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="order_total" jdbcType="DOUBLE" property="orderTotal" />
    <result column="order_freq" jdbcType="VARCHAR" property="orderFreq" />
    <result column="order_usage_way" jdbcType="VARCHAR" property="orderUsageWay" />
    <result column="herbal_flag" jdbcType="DOUBLE" property="herbalFlag" />
    <result column="herbal_dose" jdbcType="DOUBLE" property="herbalDose" />
    <result column="drug_form" jdbcType="VARCHAR" property="drugForm" />
    <result column="doctor_instructions" jdbcType="VARCHAR" property="doctorInstructions" />
    <result column="patient_self_drug_flag" jdbcType="INTEGER" property="patientSelfDrugFlag" />
    <result column="price_flag" jdbcType="INTEGER" property="priceFlag" />
    <result column="pharmacopoeia_no" jdbcType="VARCHAR" property="pharmacopoeiaNo" />
    <result column="cp_no" jdbcType="VARCHAR" property="cpNo" />
    <result column="stock_no" jdbcType="VARCHAR" property="stockNo" />
    <result column="hygienic_material_flag" jdbcType="INTEGER" property="hygienicMaterialFlag" />
    <result column="drug_class_code" jdbcType="VARCHAR" property="drugClassCode" />
  </resultMap>
  <insert id="insert" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    insert into td_pa_order_perform_detail (perform_list_no, perform_list_sort_number, order_sort_number, order_group_no,
      order_group_sort_number,charge_no, charge_name, standard_code,
      standard_name, standard, unit,
      order_actual_usage, usage_unit, order_dose,
      order_total_dose, price, order_total,
      order_freq, order_usage_way, herbal_flag,
      herbal_dose, drug_form, doctor_instructions,
      patient_self_drug_flag, price_flag, pharmacopoeia_no,
      cp_no,stock_no,hygienic_material_flag,drug_class_code)
    values (#{performListNo,jdbcType=VARCHAR}, #{performListSortNumber,jdbcType=VARCHAR}, #{orderSortNumber,jdbcType=VARCHAR}, #{orderGroupNo,jdbcType=VARCHAR},
      #{orderGroupSortNumber,jdbcType=VARCHAR},#{chargeNo,jdbcType=VARCHAR}, #{chargeName,jdbcType=VARCHAR}, #{standardCode,jdbcType=VARCHAR},
      #{standardName,jdbcType=VARCHAR}, #{standard,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR},
      #{orderActualUsage,jdbcType=DOUBLE}, #{usageUnit,jdbcType=VARCHAR}, #{orderDose,jdbcType=DOUBLE},
      #{orderTotalDose,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, #{orderTotal,jdbcType=DOUBLE},
      #{orderFreq,jdbcType=VARCHAR}, #{orderUsageWay,jdbcType=VARCHAR}, #{herbalFlag,jdbcType=DOUBLE},
      #{herbalDose,jdbcType=DOUBLE}, #{drugForm,jdbcType=VARCHAR}, #{doctorInstructions,jdbcType=VARCHAR},
      #{patientSelfDrugFlag,jdbcType=INTEGER}, #{priceFlag,jdbcType=INTEGER}, #{pharmacopoeiaNo,jdbcType=VARCHAR},
      #{cpNo,jdbcType=VARCHAR},#{stockNo,jdbcType=VARCHAR},#{hygienicMaterialFlag,jdbcType=INTEGER},
      #{drugClassCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    insert into td_pa_order_perform_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="performListNo != null">
        perform_list_no,
      </if>
      <if test="performListSortNumber != null">
        perform_list_sort_number,
      </if>
      <if test="orderSortNumber != null">
        order_sort_number,
      </if>
      <if test="orderGroupNo != null">
        order_group_no,
      </if>
      <if test="orderGroupSortNumber != null">
        order_group_sort_number,
      </if>
      <if test="chargeNo != null">
        charge_no,
      </if>
      <if test="chargeName != null">
        charge_name,
      </if>
      <if test="standardCode != null">
        standard_code,
      </if>
      <if test="standardName != null">
        standard_name,
      </if>
      <if test="standard != null">
        standard,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="orderActualUsage != null">
        order_actual_usage,
      </if>
      <if test="usageUnit != null">
        usage_unit,
      </if>
      <if test="orderDose != null">
        order_dose,
      </if>
      <if test="orderTotalDose != null">
        order_total_dose,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="orderTotal != null">
        order_total,
      </if>
      <if test="orderFreq != null">
        order_freq,
      </if>
      <if test="orderUsageWay != null">
        order_usage_way,
      </if>
      <if test="herbalFlag != null">
        herbal_flag,
      </if>
      <if test="herbalDose != null">
        herbal_dose,
      </if>
      <if test="drugForm != null">
        drug_form,
      </if>
      <if test="doctorInstructions != null">
        doctor_instructions,
      </if>
      <if test="patientSelfDrugFlag != null">
        patient_self_drug_flag,
      </if>
      <if test="priceFlag != null">
        price_flag,
      </if>
      <if test="pharmacopoeiaNo != null">
        pharmacopoeia_no,
      </if>
      <if test="cpNo != null">
        cp_no,
      </if>
      <if test="stockNo != null">
        stock_no,
      </if>
      <if test="hygienicMaterialFlag != null">
        hygienic_material_flag,
      </if>
      <if test="drugClassCode != null">
        drug_class_code,
      </if>

    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="performListNo != null">
        #{performListNo,jdbcType=VARCHAR},
      </if>
      <if test="performListSortNumber != null">
        #{performListSortNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderSortNumber != null">
        #{orderSortNumber,jdbcType=VARCHAR},
      </if>
      <if test="orderGroupNo != null">
        #{orderGroupNo,jdbcType=VARCHAR},
      </if>
      <if test="orderGroupSortNumber != null">
        #{orderGroupSortNumber,jdbcType=VARCHAR},
      </if>
      <if test="chargeNo != null">
        #{chargeNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeName != null">
        #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="standardCode != null">
        #{standardCode,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null">
        #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="orderActualUsage != null">
        #{orderActualUsage,jdbcType=DOUBLE},
      </if>
      <if test="usageUnit != null">
        #{usageUnit,jdbcType=VARCHAR},
      </if>
      <if test="orderDose != null">
        #{orderDose,jdbcType=DOUBLE},
      </if>
      <if test="orderTotalDose != null">
        #{orderTotalDose,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="orderTotal != null">
        #{orderTotal,jdbcType=DOUBLE},
      </if>
      <if test="orderFreq != null">
        #{orderFreq,jdbcType=VARCHAR},
      </if>
      <if test="orderUsageWay != null">
        #{orderUsageWay,jdbcType=VARCHAR},
      </if>
      <if test="herbalFlag != null">
        #{herbalFlag,jdbcType=DOUBLE},
      </if>
      <if test="herbalDose != null">
        #{herbalDose,jdbcType=DOUBLE},
      </if>
      <if test="drugForm != null">
        #{drugForm,jdbcType=VARCHAR},
      </if>
      <if test="doctorInstructions != null">
        #{doctorInstructions,jdbcType=VARCHAR},
      </if>
      <if test="patientSelfDrugFlag != null">
        #{patientSelfDrugFlag,jdbcType=INTEGER},
      </if>
      <if test="priceFlag != null">
        #{priceFlag,jdbcType=INTEGER},
      </if>
      <if test="pharmacopoeiaNo != null">
        #{pharmacopoeiaNo,jdbcType=VARCHAR},
      </if>
      <if test="cpNo != null">
        #{cpNo,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null">
        #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="hygienicMaterialFlag != null">
        #{hygienicMaterialFlag,jdbcType=INTEGER},
      </if>
      <if test="drugClassCode != null">
        #{drug_class_code,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <!-- 根据医嘱执行单编号查询详情列表 -->
  <select id="selectListByNo" parameterType="java.util.Map" resultMap="BaseResultMap">
    select  * from td_pa_order_perform_detail where perform_list_no = #{performListNo,jdbcType=VARCHAR}
  </select>

  <select id="selectByPrimaryKey" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail" resultMap="BaseResultMap">
    select
    *
    from td_pa_order_perform_detail
    where perform_list_no = #{performListNo,jdbcType=VARCHAR}
      and perform_list_sort_number = #{performListSortNumber,jdbcType=VARCHAR}
      and order_sort_number = #{orderSortNumber,jdbcType=VARCHAR}
      and order_group_no = #{orderGroupNo,jdbcType=VARCHAR}
      and order_group_sort_number = #{orderGroupSortNumber,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    delete from td_pa_order_perform_detail
    where perform_list_no = #{performListNo,jdbcType=VARCHAR}
      and perform_list_sort_number = #{performListSortNumber,jdbcType=VARCHAR}
      and order_sort_number = #{orderSortNumber,jdbcType=VARCHAR}
      and order_group_no = #{orderGroupNo,jdbcType=VARCHAR}
      and order_group_sort_number = #{orderGroupSortNumber,jdbcType=VARCHAR}
  </delete>
  <update id="updateByPrimaryKeySelective" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    update td_pa_order_perform_detail
    <set>
      <if test="chargeNo != null">
        charge_no = #{chargeNo,jdbcType=VARCHAR},
      </if>
      <if test="chargeName != null">
        charge_name = #{chargeName,jdbcType=VARCHAR},
      </if>
      <if test="standardCode != null">
        standard_code = #{standardCode,jdbcType=VARCHAR},
      </if>
      <if test="standardName != null">
        standard_name = #{standardName,jdbcType=VARCHAR},
      </if>
      <if test="standard != null">
        standard = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="orderActualUsage != null">
        order_actual_usage = #{orderActualUsage,jdbcType=DOUBLE},
      </if>
      <if test="usageUnit != null">
        usage_unit = #{usageUnit,jdbcType=VARCHAR},
      </if>
      <if test="orderDose != null">
        order_dose = #{orderDose,jdbcType=DOUBLE},
      </if>
      <if test="orderTotalDose != null">
        order_total_dose = #{orderTotalDose,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="orderTotal != null">
        order_total = #{orderTotal,jdbcType=DOUBLE},
      </if>
      <if test="orderFreq != null">
        order_freq = #{orderFreq,jdbcType=VARCHAR},
      </if>
      <if test="orderUsageWay != null">
        order_usage_way = #{orderUsageWay,jdbcType=VARCHAR},
      </if>
      <if test="herbalFlag != null">
        herbal_flag = #{herbalFlag,jdbcType=DOUBLE},
      </if>
      <if test="herbalDose != null">
        herbal_dose = #{herbalDose,jdbcType=DOUBLE},
      </if>
      <if test="drugForm != null">
        drug_form = #{drugForm,jdbcType=VARCHAR},
      </if>
      <if test="doctorInstructions != null">
        doctor_instructions = #{doctorInstructions,jdbcType=VARCHAR},
      </if>
      <if test="patientSelfDrugFlag != null">
        patient_self_drug_flag = #{patientSelfDrugFlag,jdbcType=INTEGER},
      </if>
      <if test="priceFlag != null">
        price_flag = #{priceFlag,jdbcType=INTEGER},
      </if>
      <if test="pharmacopoeiaNo != null">
        pharmacopoeia_no = #{pharmacopoeiaNo,jdbcType=VARCHAR},
      </if>
      <if test="cpNo != null">
        cp_no = #{cpNo,jdbcType=VARCHAR},
      </if>
      <if test="stockNo != null">
        stock_no = #{stockNo,jdbcType=VARCHAR},
      </if>
      <if test="hygienicMaterialFlag != null">
        hygienic_material_flag = #{hygienicMaterialFlag,jdbcType=INTEGER},
      </if>
    </set>
    where perform_list_no = #{performListNo,jdbcType=VARCHAR}
    and perform_list_sort_number = #{performListSortNumber,jdbcType=VARCHAR}
    and order_sort_number = #{orderSortNumber,jdbcType=VARCHAR}
    and order_group_no = #{orderGroupNo,jdbcType=VARCHAR}
    and order_group_sort_number = #{orderGroupSortNumber,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    update td_pa_order_perform_detail
    set charge_no = #{chargeNo,jdbcType=VARCHAR},
      charge_name = #{chargeName,jdbcType=VARCHAR},
      standard_code = #{standardCode,jdbcType=VARCHAR},
      standard_name = #{standardName,jdbcType=VARCHAR},
      standard = #{standard,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      order_actual_usage = #{orderActualUsage,jdbcType=DOUBLE},
      usage_unit = #{usageUnit,jdbcType=VARCHAR},
      order_dose = #{orderDose,jdbcType=DOUBLE},
      order_total_dose = #{orderTotalDose,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      order_total = #{orderTotal,jdbcType=DOUBLE},
      order_freq = #{orderFreq,jdbcType=VARCHAR},
      order_usage_way = #{orderUsageWay,jdbcType=VARCHAR},
      herbal_flag = #{herbalFlag,jdbcType=DOUBLE},
      herbal_dose = #{herbalDose,jdbcType=DOUBLE},
      drug_form = #{drugForm,jdbcType=VARCHAR},
      doctor_instructions = #{doctorInstructions,jdbcType=VARCHAR},
      patient_self_drug_flag = #{patientSelfDrugFlag,jdbcType=INTEGER},
      price_flag = #{priceFlag,jdbcType=INTEGER},
      pharmacopoeia_no = #{pharmacopoeiaNo,jdbcType=VARCHAR},
      cp_no = #{cpNo,jdbcType=VARCHAR},
      stock_no = #{stockNo,jdbcType=VARCHAR},
      hygienic_material_flag = #{hygienicMaterialFlag,jdbcType=INTEGER}
    where perform_list_no = #{performListNo,jdbcType=VARCHAR}
      and perform_list_sort_number = #{performListSortNumber,jdbcType=VARCHAR}
      and order_sort_number = #{orderSortNumber,jdbcType=VARCHAR}
      and order_group_no = #{orderGroupNo,jdbcType=VARCHAR}
      and order_group_sort_number = #{orderGroupSortNumber,jdbcType=VARCHAR}
  </update>
  <insert id="insertList" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    insert all
    <foreach item="item" index="index" collection="list">
    into td_pa_order_perform_detail (perform_list_no, perform_list_sort_number, order_sort_number, order_group_no,
      order_group_sort_number,charge_no, charge_name, standard_code,
      standard_name, standard, unit,
      order_actual_usage, usage_unit, order_dose,
      order_total_dose, price, order_total,
      order_freq, order_usage_way, herbal_flag,
      herbal_dose, drug_form, doctor_instructions,
      patient_self_drug_flag, price_flag, pharmacopoeia_no,
      cp_no,stock_no,hygienic_material_flag,drug_class_code)
    values (
      #{item.performListNo,jdbcType=VARCHAR},
      #{item.performListSortNumber,jdbcType=VARCHAR},
      #{item.orderSortNumber,jdbcType=VARCHAR},
      #{item.orderGroupNo,jdbcType=VARCHAR},
      #{item.orderGroupSortNumber,jdbcType=VARCHAR},
      #{item.chargeNo,jdbcType=VARCHAR},
      #{item.chargeName,jdbcType=VARCHAR},
      #{item.standardCode,jdbcType=VARCHAR},
      #{item.standardName,jdbcType=VARCHAR},
      #{item.standard,jdbcType=VARCHAR},
      #{item.unit,jdbcType=VARCHAR},
      #{item.orderActualUsage,jdbcType=DOUBLE},
      #{item.usageUnit,jdbcType=VARCHAR},
      #{item.orderDose,jdbcType=DOUBLE},
      #{item.orderTotalDose,jdbcType=DOUBLE} ,
      #{item.price,jdbcType=DOUBLE},
      #{item.orderTotal,jdbcType=DOUBLE},
      #{item.orderFreqCode,jdbcType=VARCHAR},
      #{item.orderUsageWayCode,jdbcType=VARCHAR},
      #{item.herbalFlag,jdbcType=DOUBLE},
      #{item.herbalDose,jdbcType=DOUBLE},
      #{item.drugForm,jdbcType=VARCHAR},
      #{item.doctorInstructions,jdbcType=VARCHAR},
      #{item.patientSelfDrugFlag,jdbcType=INTEGER},
      #{item.priceFlag,jdbcType=INTEGER},
      #{item.pharmacopoeiaNo,jdbcType=VARCHAR},
      #{item.cpNo,jdbcType=VARCHAR},
      #{item.stockNo,jdbcType=VARCHAR},
      #{item.hygienicMaterialFlag,jdbcType=VARCHAR},
      #{item.drugClassCode,jdbcType=VARCHAR}
    )
    </foreach>
    select 1 from dual
  </insert>

  <select id="selectListByPerformListNoList" resultMap="BaseResultMap">
    select
    *
    from td_pa_order_perform_detail
    where 1=1
    <if test="list!=null and list.size()>0">
      AND PERFORM_LIST_NO in
      <foreach collection="list" item="item" open="(" close=")" separator=",">
        #{item}
      </foreach>
    </if>
  </select>

  <delete id="deletePatientOrderPerformDetailByPerformListNos" parameterType="com.emr.project.docOrder.domain.InpatientOrderPerformDetail">
    delete from td_pa_order_perform_detail
    where
    <foreach collection="orderPerformDetailList" item="item" separator=" OR ">
      (PERFORM_LIST_NO = #{item.performListNo}
      and PERFORM_LIST_SORT_NUMBER = #{item.performListSortNumber}
      and ORDER_GROUP_SORT_NUMBER = #{item.orderGroupSortNumber}
      and ORDER_SORT_NUMBER = #{item.orderSortNumber}
      and ORDER_GROUP_NO = #{item.orderGroupNo}
      )
    </foreach>
  </delete>

</mapper>
